<?xml version="1.0" encoding="UTF-8"?>
<web-app version="6.0" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd">
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>controller.authentication.Login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SignUpController</servlet-name>
        <servlet-class>controller.authentication.SignUpController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ForgotPassController</servlet-name>
        <servlet-class>controller.authentication.ForgotPassController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateNewPasswprdController</servlet-name>
        <servlet-class>controller.authentication.CreateNewPasswprdController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewFeedbackController</servlet-name>
        <servlet-class>controller.authentication.ViewFeedbackController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutController</servlet-name>
        <servlet-class>controller.authentication.LogoutController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LecturerManageController</servlet-name>
        <servlet-class>controller.admin.LecturerManageController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GuestFeedback</servlet-name>
        <servlet-class>controller.guest.feedbackController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddLecturerController</servlet-name>
        <servlet-class>controller.admin.AddLecturerController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminHome</servlet-name>
        <servlet-class>controller.admin.AdminHome</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LearnerMangementController</servlet-name>
        <servlet-class>controller.admin.LearnerMangementController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>deleteAllController</servlet-name>
        <servlet-class>controller.admin.deleteAllController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteAllStudentController</servlet-name>
        <servlet-class>controller.admin.DeleteAllStudentController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteGuestFeedback</servlet-name>
        <servlet-class>controller.admin.DeleteGuestFeedback</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminResponseController</servlet-name>
        <servlet-class>controller.admin.AdminResponseController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CoursesManageController</servlet-name>
        <servlet-class>controller.admin.CoursesManageController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GuestViewCourseController</servlet-name>
        <servlet-class>controller.guest.GuestViewCourseController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeletecourseController</servlet-name>
        <servlet-class>controller.admin.DeletecourseController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewLessonController</servlet-name>
        <servlet-class>controller.admin.ViewLessonController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BackHomeController</servlet-name>
        <servlet-class>controller.user.home.BackHomeController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminDeleteLesson</servlet-name>
        <servlet-class>controller.admin.AdminDeleteLesson</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DictionaryController</servlet-name>
        <servlet-class>controller.user.DictionaryController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>studyCourseController</servlet-name>
        <servlet-class>controller.admin.studyCourseController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UploadSound</servlet-name>
        <servlet-class>uploadfile.UploadSound</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminUpdateStatus</servlet-name>
        <servlet-class>controller.admin.AdminUpdateStatus</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProgressController</servlet-name>
        <servlet-class>controller.user.ProgressController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CheckPopularCourse</servlet-name>
        <servlet-class>controller.admin.CheckPopularCourse</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VideoController</servlet-name>
        <servlet-class>controller.user.VideoController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddQuestionController</servlet-name>
        <servlet-class>controller.lecturer.AddQuestionController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SignUpController</servlet-name>
        <url-pattern>/signup</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ForgotPassController</servlet-name>
        <url-pattern>/forgot</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateNewPasswprdController</servlet-name>
        <url-pattern>/create</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewFeedbackController</servlet-name>
        <url-pattern>/admin/viewfeedback</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutController</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LecturerManageController</servlet-name>
        <url-pattern>/admin/lecturermanage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GuestFeedback</servlet-name>
        <url-pattern>/guest/feedback</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddLecturerController</servlet-name>
        <url-pattern>/admin/addlecturer</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminHome</servlet-name>
        <url-pattern>/admin/home</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LearnerMangementController</servlet-name>
        <url-pattern>/admin/learnermanage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>deleteAllController</servlet-name>
        <url-pattern>/admin/deleteall</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteAllStudentController</servlet-name>
        <url-pattern>/admin/deleteallstudent</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteGuestFeedback</servlet-name>
        <url-pattern>/admin/deletefeedback</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminResponseController</servlet-name>
        <url-pattern>/admin/resp</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CoursesManageController</servlet-name>
        <url-pattern>/admin/coursemanage</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ProfileController</servlet-name>
        <servlet-class>controller.user.home.ProfileController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditProfileController</servlet-name>
        <servlet-class>controller.user.home.EditProfileController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChangeAvatar</servlet-name>
        <servlet-class>controller.user.home.ChangeAvatar</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HomeContoller</servlet-name>
        <servlet-class>controller.user.HomeController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CoursesController</servlet-name>
        <servlet-class>controller.user.CoursesController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>QuizzesController</servlet-name>
        <servlet-class>controller.user.QuizzesController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LessonController</servlet-name>
        <servlet-class>controller.user.LessonController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FlashCardController</servlet-name>
        <servlet-class>controller.user.FlashCardController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ProfileController</servlet-name>
        <url-pattern>/user/profile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditProfileController</servlet-name>
        <url-pattern>/user/editprofile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChangeAvatar</servlet-name>
        <url-pattern>/user/changeavatar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HomeContoller</servlet-name>
        <url-pattern>/user/home</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CoursesController</servlet-name>
        <url-pattern>/user/courses</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>QuizzesController</servlet-name>
        <url-pattern>/user/quiz</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LessonController</servlet-name>
        <url-pattern>/user/lesson</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FlashCardController</servlet-name>
        <url-pattern>/user/flashcard</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GuestViewCourseController</servlet-name>
        <url-pattern>/guest/viewcourse</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>CourseControllerServlet</servlet-name>
        <servlet-class>controller.lecturer.CourseControllerServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LessonControllerServlet</servlet-name>
        <servlet-class>controller.lecturer.LessonControllerServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddLesson</servlet-name>
        <servlet-class>controller.lecturer.AddLesson</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateDeleteCourse</servlet-name>
        <servlet-class>controller.lecturer.UpdateDeleteCourse</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CourseControllerServlet</servlet-name>
        <url-pattern>/lecturer/course</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LessonControllerServlet</servlet-name>
        <url-pattern>/lecturer/lesson</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddLesson</servlet-name>
        <url-pattern>/lecturer/addLesson</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateDeleteCourse</servlet-name>
        <url-pattern>/lecturer/UpdateDeleteCourse</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeletecourseController</servlet-name>
        <url-pattern>/admin/deletecourse</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewLessonController</servlet-name>
        <url-pattern>/admin/viewlesson</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>EnrollmentController</servlet-name>
        <servlet-class>controller.user.EnrollmentController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>EnrollmentController</servlet-name>
        <url-pattern>/user/enroll</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BackHomeController</servlet-name>
        <url-pattern>/backhome</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminDeleteLesson</servlet-name>
        <url-pattern>/admin/deletelesson</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DictionaryController</servlet-name>
        <url-pattern>/user/dictionary</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>studyCourseController</servlet-name>
        <url-pattern>/admin/studycourse</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UploadSound</servlet-name>
        <url-pattern>/UpoadSound</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminUpdateStatus</servlet-name>
        <url-pattern>/admin/updateStatus</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProgressController</servlet-name>
        <url-pattern>/progress</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CheckPopularCourse</servlet-name>
        <url-pattern>/admin/checkpopular</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VideoController</servlet-name>
        <url-pattern>/user/video</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddQuestionController</servlet-name>
        <url-pattern>/lecturer/addquestion</url-pattern>
    </servlet-mapping>
</web-app>
